/* --------------------------------------------------------
  TOP-LEVEL GLOBALS (relating to every page)
-------------------------------------------------------- */

body {
  background-color: #d4d4d4;
}

a {
  text-decoration: none;
}

a:hover { 
  text-decoration: underline;
}

.container {
  background-color: #fff;
}

#header {
  background-color: #000;
}

#header_container {
  width: 100%;
  background-color: #000;
  height: 60px;
}

#header .navigation {
  float: left;
  padding-top: 30px; /*<-- for images */
/*  padding-top: 35px;*/
}

#header .navigation a {
  color: white;
  font-weight: bold;
  font-size: 8pt;
}

#header .navigation a.selected {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "alpha(opacity=50)";
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
}

#flash_message_container {
  margin: 15px 0;
}

#footer {
  background-color: #000;
  color: white;
  margin-top: 30px;
  padding: 15px;
}

/* --------------------------------------------------------
  OTHER GLOBALS (only applicable to a large subset of pages)
-------------------------------------------------------- */

form input[type="submit"], form input[type="button"] {
  font-size: 1.4em;
  margin-right: 10px;
}

input[type="text"], form textarea, input[type="password"] {
  font-size: 1.4em;
  padding: 7px;
  padding-bottom: 5px;
}

/* When form elements are in a form_container, expand to 100% width */
.form_container textarea
{
  width: 100%;
}
.form_container input 
{
  width: 100%;
}

h2 .title_link
{
  font-size: 0.5em;
}

h2 span.parenthetical
{
  font-size: 0.6em;
}

h3 span
{
  padding: 1px 2px;
}

h3 span.parenthetical
{
  font-size: 0.6em;
}

.three_quarters_opacity {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
}

.half_opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "alpha(opacity=50)";
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
}

.overlay_black_label {
  position: absolute;
  z-index: 1;
}

.overlay_black_label .background {
  background-color: black;
  width: 100%;
  /* Set height on element */
  position: absolute;
  z-index: 2;
}

.overlay_black_label .foreground {
  color: white;
  position: absolute;
  z-index: 3;
}

