pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.fieldWithErrors {
  margin-bottom: -18px;
}

.fieldWithErrors label {
  color: white;
  background-color: red;
  padding: 2px;
}

#errorExplanation {
  border: 2px solid #d4d4d4;
  width: 400px;
  padding: 7px;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 2px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
  margin-bottom: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

