
<h2> Game Listing </h2>

<p>
    <b>Original filename</b> <%= @game.original_filename %>
</p>
<p>
    <b>Title</b> <%= @game.title %>
</p>
<p>
    <b>Upload Complete?</b> <%= if not @game.storage_object_id; "No"; else; "Yes"; end %>
</p>

<%= link_to 'Back', list_path %>