<h2> List All </h2>

<h3> Games </h3>

<ul>
<% @games.each do |game| %>
    <li><%= link_to game.original_filename, game %><br/></li>
<% end %>
</ul>


<h3> Users </h3>

<ul>
<% @users.each do |user| %>
    <% if user.name %>
        <li><b><%= user.name %></b>, (<%= link_to user.login, user %>)</li>
    <% else %>
        <li><b><%= user.login %></b></li>
    <% end %>
<% end %>
</ul>