<div style="padding: 5px 5px; background-color: #000;">
    <% if not @game.thumbnail.nil? %>
        <%= link_to image_tag("http://#{S3Keys::S3Config.bucket}.s3.amazonaws.com/screenshots/#{@game.thumbnail.storage_object_id}", :border=>0, :width=>221, :height=>192), @game %>
    <% else %>
        <span style="color:#fff;">Default thumb</span>
    <% end %>
</div>
<span style="font-weight: bold;"><%= truncate link_to( @game.title, @game ), :length => 80 %></span>
